* {
    margin: 0;
    padding: 0;
}
ul,ol {list-style: none;}
a { text-decoration: none; color : black;}



body {
    padding-top: 50px;
}
nav{
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    /*상단 메뉴바에 분별감 있게 약간의 그림자 추기*/
    box-shadow: 0px 0px 0px 1px rgb(0, 0, 0, 0.1)
}

nav .logo{
    position: absolute;

}
nav .logo img{
    cursor: pointer;
}
nav .Menu{
    width: 650px;
    height: 100%;
    margin: 0 auto;
    font-family: 'Jua', sans-serif;
}

nav .Menu ul {

}
nav .Menu ul li{
    float: left;
    margin-left: 150px;
    font-size: 25px;
}

nav .loginMenu{
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 300px;
    font-family: 'Jua', sans-serif;
}

nav .loginMenu ul .signUpMenu{
    opacity: 0.5;
}

nav .loginMenu ul{
    line-height: 50px;
}

nav .loginMenu li{
    float: left;
    margin-left: 50px;
    font-size: 20px;
}


section .inner {
    width: 80%;
    height: 500px;
    margin: 0 auto;
}

section .inner .iconQuiz{
    width: 706px;
    height: 656px;
    padding-top: 100px;
    margin: 0 auto;
}

section .inner .iconQuiz img{
    width: 100%;
    height: 100%;
}

section .inner .mainText {
    text-align: center;
    margin-bottom: 50px;
}
section .inner .mainBtn{
    margin: 0 auto;
    width: 300px;
    display: flex;
    justify-content: space-between
}
section .inner .mainBtn .registerBtn{

    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    will-change: box-shadow,transform;
    background: radial-gradient( 100% 100% at 100% 0%, #89E5FF 0%, #5468FF 100% );
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px rgb(58 65 111 / 50%);
    padding: 0 32px;
    border-radius: 6px;
    color: #fff;
    height: 48px;
    font-size: 18px;
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
    transition: box-shadow 0.15s ease,transform 0.15s ease;
}
section .inner .mainBtn .registerBtn:hover {
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #3c4fe0;
    transform: translateY(-2px);
}
section .inner .mainBtn .registerBtn:active{
    box-shadow: inset 0px 3px 7px #3c4fe0;
    transform: translateY(2px);
}

section .inner .mainBtn .loginBtn{

    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    transition: box-shadow 0.15s ease,transform 0.15s ease;
    will-change: box-shadow,transform;
    background: #FCFCFD;
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
    height: 48px;
    padding: 0 32px;
    font-size: 18px;
    border-radius: 6px;
    color: #36395a;
    transition: box-shadow 0.15s ease,transform 0.15s ease;
}
section .inner .mainBtn .loginBtn:hover {
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
    transform: translateY(-2px);
}
section .inner .mainBtn .loginBtn:active{
    box-shadow: inset 0px 3px 7px #d6d6e7;
    transform: translateY(2px);
}